
/* =================== MISC =================== */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 125px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* .dark-mode {
     background-color: coral; 
     color: white;
} */


/* =================== GENERAL LAYOUT =================== */

.container{
    width: 90%;
    max-width: 900px;
    height: 100vh;
    margin: auto;
}

.container-hero{
    border: 1px solid red;
    width: 90%;
    max-width: 900px;
    height: 83vh;
    margin: auto;
}

.container-flex{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

/* =================== HEADER LAYOUT MOBILE =================== */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1em;
}

.header-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    font-size: 1.2rem;
}

.link{
    order: 1;
}

/* =================== HEADER LAYOUT DESKTOP =================== */

@media (min-width:675px) {

    .header-text{
        flex-direction: row;
        align-items: center;
        font-size: 1.25rem;
    }

    .link-about{
        order: -1;
    }
}



/* =================== HERO LAYOUT MOBILE =================== */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.container-hero{
    display: flex;
    align-items: center;
}

.hero-text{
    text-align: center;
}

.hero-name{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1em;
}

.hero-sub{
    margin-top: 1em;
    font-weight: 400;
    color: #143774;
}

.hero-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.contact-button{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    box-shadow:  4px 4px black;
}


/* =================== HERO LAYOUT DESKTOP =================== */

@media (min-width:675px) {

    .container-hero{
        justify-content: center;
        align-items: center;
        height: 89vh;
    }

    .hero-name{
        font-size: 7rem;
    }

    .hero-sub{
        font-size: 1.05rem; 
        font-weight: 500;
    }

    .hero-btns{
        flex-direction: row;
        align-items: center;
        gap: .75em;
    }
    .scroll-button{
        position: absolute;
        bottom: 0;
    }

    .dark-button{
        margin-top: .25em;
    }
}

/* =================== ABOUT LAYOUT MOBILE =================== */

.about{
    margin-top: 3em;
}

.about-text{
    font-weight: 500;
    font-size: 1.15rem;
    text-align: center;
}

.about-tech{
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 100%;
    padding-bottom: 5em;
    margin: 2em auto;
}

.about-tech-stack-header{
    text-align: center;
    margin-top: .5em;
}

.tech-pills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: .5em;
    margin-top: 1em;
}

.tech-pill{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: .25em;
    font-weight: 500;
}

.tech-pill p{
    margin-bottom: 1px;
    cursor: default;
}

.fa-brands,
.fa-solid{
    font-size: 1rem;
}

.about-tech-stack-header{
    margin-top: 1em;
}

/* =================== ABOUT LAYOUT DESKTOP =================== */

@media (min-width:675px) {
    .about-text{
        font-size: 1.25rem;
        font-weight: 400;
        width: 75%;
        margin: auto;
    }

    .about-tech{
        margin-bottom: -8em;
        margin-top: 5em;
    }

    .about-tech-stack-header{
        margin-top: 1em;
    }

}

/* =================== PROJECTS LAYOUT MOBILE =================== */

.projects-container{
    display: flex;
    justify-content: center;
}

.projects{
    margin: 2em 0em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projects-header-mobile{
    text-align: center;
}

.projects-desktop-cols{
    display: none;
}

/* =================== PROJECTS LAYOUT DESKTOP =================== */

@media (min-width: 675px){

    .projects-header-desktop{
        text-align: center;
    }

    .projects{
        display: none;
    }

    .projects-container{
        margin-top: 3em;
    }

    .col-left,
    .col-right{
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    
    .projects-desktop-cols{
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 5em;
        margin-top: 5em;
        flex-wrap: wrap;
    }
} 


/* =================== BUTTONS STYLING =================== */

/* =========================================
        LIGHT MODE BUTTON ANIMATION    
============================================*/


.dark-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: .5em;
}

/* =========================================
          CONTACT BUTTON ANIMATION    
============================================*/

.contact-button:hover{
    cursor: pointer;
    box-shadow:  4px 4px white;
    left: 4px;
    top: 4px;
}

.contact-button{
    position: relative;
    transition: 0.2s ease-in-out;
    left: 0px;
    top: 0px;
}

.scroll-button{
    border-radius: 5px;
    text-align: center;
    margin-top: 1.75em;
    position: fixed;
    bottom: 0;
}

/* =========================================
          SCROLL BUTTON STYLE    
============================================*/

.scroll-button p{
    padding: 0;
    margin: .5em;
}

.scroll-button:hover{
    color:#143774;
    cursor: pointer;
}

.fa-arrow-down{
    font-size: 2rem;
}

@media (max-width: 675px){
    .fa-arrow-down{
    font-size: 1.5rem;
    }

    .scroll-button p{
        font-size: .9rem;
    }
}

/* =========================================
          CARD BUTTON STYLE    
============================================*/
