
/* =================== MISC =================== */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFFAFA !important;
}


.logo{
    width: 125px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: 0.1s;
    font-weight: 500;
}
.link:hover{
    color: black;
    transform: scale(1.1); 
}

strong{
    font-weight: bolder;
    font-size: 1.25rem;
    color: black;
}


/* =================== GENERAL LAYOUT =================== */

.container{
    width: 90%;
    max-width: 900px;
    height: 100vh;
    margin: auto;
}

.container-hero{
    width: 90%;
    max-width: 900px;
    height: 83vh;
    margin: auto;
}

.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

/* =================== HEADER LAYOUT MOBILE =================== */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1em;
}

.header-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    font-size: 1.2rem;
}

.link{
    order: 1;
}

/* =================== HEADER LAYOUT DESKTOP =================== */

@media (min-width:675px) {

    .header-text{
        flex-direction: row;
        align-items: center;
        font-size: 1.25rem;
    }

    .link-about{
        order: -1;
    }
}



/* =================== HERO LAYOUT MOBILE =================== */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-hero{
    display: flex;
    align-items: center;
}

.hero-text{
    text-align: center;
}

.hero-name{
    font-size: 3.7rem;
    font-weight: 400;
    line-height: 1em;
}

.hero-sub{
    margin-top: .5em;
    font-size: 1.1rem;
    font-weight: 500;
    color: #143774;
}

.hero-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.contact-button{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    box-shadow:  4px 4px black;
}


/* =================== HERO LAYOUT DESKTOP =================== */

@media (min-width:675px) {

    .container-hero{
        justify-content: center;
        align-items: center;
        height: 89vh;
        width: 100vh;
    }

    .hero-name{
        font-size: 8rem;
    }

    .hero-sub{
        padding-top: 1em;
        font-size: 1.15rem; 
        font-weight: 600;
    }

    .hero-btns{
        padding-top: .5em;
        flex-direction: row;
        align-items: center;
        gap: .75em;
    }
    .scroll-button{
        position: absolute;
        bottom: 0;
    }

    .dark-button{
        margin-top: .25em;
    }
}

/* =================== ABOUT LAYOUT MOBILE =================== */

.about{
    margin-top: 40em;
}

.about-header{
    text-align: center;
    font-weight: 500;
    padding-bottom: 1em;
}


.about-text{
    font-weight: 500;
    font-size: 1.15rem;
    padding-left: 1em;
    overflow:  hidden;
}

.about-tech{
    border-radius: 10px;
    width: 100%;
    padding-bottom: 5em;
    margin: 4em auto;
}

.about-tech-stack-header{
    text-align: center;
    margin-top: .5em;
}

.tech-pills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: .5em;
    margin-top: 1em;
}

.tech-pill{
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: .25em;
    font-weight: 500;
}

.tech-pill p{
    margin-bottom: 1px;
    cursor: default;
}

.fa-brands,
.fa-solid{
    font-size: 1rem;
}

.about-tech-stack-header{
    margin-top: 1em;
}




/* =================== ABOUT LAYOUT DESKTOP =================== */

@media (min-width:675px) {

    .about{
        margin: 0;
        padding: 0;
    }

    .about-header{
        text-align: center;
        padding-top: 2em;
    }

    .about-text{
        color: #555555;
        font-size: 1.3em;
        font-weight: 500;
        width: 75%;
        margin: auto;
        text-align: center;
    }

    .about-tech{
        margin-top: 5em;
    }

    .about-tech-stack-header{
        margin-top: 1em;
    }

    strong{
    font-weight: bolder;
    font-size: 1.4rem;
    color: black;
    }

}

/* =================== PROJECTS LAYOUT MOBILE =================== */

.projects-container{
    display: flex;
    justify-content: center;
    margin-top: 40em;
}

.projects{
    margin: 2em 0em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projects-header-mobile{
    text-align: center;
}

.projects-desktop-cols{
    display: none;
}

.projects-header-desktop{
    display: none;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 500;
}

.card-text{
    font-weight: 500;
}


/* =================== PROJECTS LAYOUT DESKTOP =================== */

@media (min-width: 675px){

    .projects-header-desktop{
        display: block;
        text-align: center;
        margin-top: 1em;
    }

    .projects{
        display: none;
    }

    .projects-container{
        margin-top: 10em;
    }

    .col-left,
    .col-right{
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    
    .projects-desktop-cols{
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 5em;
        margin-top: 5em;
        flex-wrap: wrap;
    }
} 


/* =================== CONTACT LAYOUT MOBILE =================== */

#contact{
    margin-top: 10em;
}

.contact-section{
    text-align: center;
    padding: 1em;
}

.contact-header{
    font-size: 2rem;
    margin-bottom: .5em;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid black;
    box-shadow:  6px 6px black;
    border-radius: 8px;
    padding: 1em;
}

.contact-form-header{
    font-size: 1.2rem;
    font-weight: 400;
}

.contact-icons{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.fa-envelope,
.fa-linkedin,
.fa-github-alt{
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github-alt:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.contact-input{
    width: 300px;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}


.submit-button{
    background-color: #7d9fd9;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.submit-button:hover{
    background-color: white;
    color: black;
    transform: scale(1.05);
}


/* =================== CONTACT LAYOUT DESKTOP =================== */

@media (min-width: 675px){

    #contact{
        margin-top: 10em;
    }

    .contact-header{
        font-size: 3rem;
    }

    .fa-envelope,
    .fa-linkedin,
    .fa-github-alt{
    font-size: 2.5rem;
}

    .contact-input{
        width: 500px;
    }
    .message{
        height: 200px;
    }

    .contact-form-header{
        margin-left: -375px;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .submit-button{
        font-size: 1rem;
    }
}

/* =================== BUTTONS STYLING =================== */

/* =========================================
        LIGHT MODE BUTTON ANIMATION    
============================================*/


.dark-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: .5em;
}

/* =========================================
          CONTACT BUTTON ANIMATION    
============================================*/

.contact-button:hover{
    cursor: pointer;
    box-shadow:  4px 4px white;
    left: 4px;
    top: 4px;
}

.contact-button{
    position: relative;
    transition: 0.2s ease-in-out;
    left: 0px;
    top: 0px;
}

.scroll-button{
    border-radius: 5px;
    text-align: center;
    margin-top: 1.75em;
    position: fixed;
    bottom: 0;
}

/* =========================================
          SCROLL BUTTON STYLE    
============================================*/

.scroll-button p{
    padding: 0;
    margin: .5em;
}

.scroll-button:hover{
    color:#143774;
    cursor: pointer;
}

.fa-arrow-down{
    font-size: 2rem;
}

@media (max-width: 675px){
    .fa-arrow-down{
    font-size: 1.5rem;
    }

    .scroll-button p{
        font-size: .9rem;
    }
}

/* =========================================
          CARD BUTTON STYLE    
============================================*/
